.grid {
    display: grid;
    grid-template-columns: repeat(3, 200px);
    justify-content: center;
    align-content: center;
    grid-gap: 10px;
    height: 100vh;
    padding-left: 10px;
}

.grid img{
    width: 200px;
    height: 200px;
}

.white-popup {
    position: relative;
    background: #FFF6EB;
    padding: 20px;
    width: auto;
    max-width: 500px;
    margin: 20px auto;
  }
.white-popup img{
    padding-left: 10%;
}
.white-popup .artname {
    font-family: Roboto;
    font-weight: bold;
    font-size: 36px;
    text-align: center;

    color: #000000;
}

.white-popup .content {
    font-family: Roboto;
    font-size: 15px;
    text-align: center;

    color: #000000;
}
