html{
    box-sizing: border-box;
}


.row {
  width: 50%;
  float: right;
}

.twoColumns {
  width: 100%;
}

.fw-block {
  padding-top: 200px;
  padding-left: 75px;
}

.title-box-container{
    position: absolute;
    font-family: Roboto, sans-serif;
    display: flex;
    justify-content: center;
    left: 44vw;
    top: 10vh;
}


#twitter-id{
    margin: auto;
    padding: 2vh 2vw 2vh 2vw;
    text-align: center;
    font-size: 4vw;
    background-color:  #FFF6EB;
}

.twitter-timeline {
  max-width: 100%;
  max-height: 1500px;
}
.fa {
  font-size: 25px;
  color: #FFFFFF;
}
.panel-title {
 font-size: 25px;
 color: #FFFFFF;
 font-family: 'Open Sans', sans-serif;
}
.panel-heading {
 background-color: #1da1f2 !important;;
 color: #FFFFFF !important;;
}
.panel {
 margin-top: 50px;
}

.navbar {
  position: absolute;
  width: 100%;
  height: 40vh;
  left: 0px;
  top: 1250px;

  background: #FFF6EB;
}

.footer {
  bottom: 0;
}