<!DOCTYPE html>
<html>

  <head>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" type="text/css" href="../static/css/home.css">
  <link rel="stylesheet" type="text/css" href="../static/css/footer.css">

  <script src="../static/js/home.js"></script>
  <script defer src="https://use.fontawesome.com/releases/v5.1.0/js/all.js" integrity="sha384-3LK/3kTpDE/Pkp8gTNp2gR/2gOiwQ6QaO7Td0zV76UFJVhqLl4Vl3KL1We6q6wR9" crossorigin="anonymous"></script>
  <script src="../static/js/headerfooter.js"></script>
  <link rel="icon"
  type="image/png"
  href="../../static/imgs/logowhite.png"/>






    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">




  </head>
  <body>
    <header>

    <div class="grid-container" id = "myTopnav">
        <div class='grid-child'>
          <div class="title">CONTEMPORAL</div>
        <img src="../static/imgs/logo.png" class="logo" alt="" />
        <a style="text-decoration:none" href="../static/html/art.html" class="margart">ART</a>
        <a style="text-decoration:none" href="../static/html/twitter.html" class="margevents">TWITTER</a>
        <a style="text-decoration:none" href="../static/html/about.html" class="margabt">ABOUT  </a>
        <a style="text-decoration:none" href="../static/html/artists.html" class="margartis">ARTISTS</a>
        <a style="text-decoration:none" href="/" class="marghome">HOME </a>

        <a href="javascript:void(0);" class="icon" onclick= "myFunction()">
          <i class="fa fa-bars"></i>
        </a>
       </div>
    </div>


    </header>
    <footer class="footer">
    <div class="navbar">
      <a style="text-decoration:none" href="/" class="pos5">Home</a>
      <a style="text-decoration:none" href="../static/html/art.html" class="pos4">Art</a>
      <a style="text-decoration:none" href="../static/html/about.html" class="pos">About</a>
      <a style="text-decoration:none" href="../static/html/twitter.html" class="pos2">Twitter</a>

    </div>

    <div class = "main"> CONTEMPORAL </div>

    <hr>

    <div class = "copyright"> ©2020-2021 </div>

    <div class = "privacy"> Privacy–Terms </div>
    </footer>



    <div class="slideshow-container">

    <div class="mySlides fade">
      <img src="../static/imgs/coverart.jpg" style="width:100%">
      <div class="text">Learn About American Indian Art!</div>
    </div>

    <div class="mySlides fade">
      <img src="../static/imgs/cover2.jpg" style="width:100%">
      <div class="text">Learn About American Indian Art!</div>
    </div>

    <div class="mySlides fade">
      <img src="../static/imgs/cover3.jpg" style="width:100%">
      <div class="text">Learn About American Indian Art!</div>
    </div>


    </div>
    <br>

    <div style="text-align:center">
      <span class="dot"></span>
      <span class="dot"></span>
      <span class="dot"></span>
    </div>

<!--     <div class = "grid-container" element id = "bottom-imgs">
      <div class = "grid-sub">
        <img style= "position:absolute; top: 1000px; left: 4vw" src="../static/imgs/feat.jpg">
      </div>
      <div class = "grid-sub">
        <img style= "position:absolute; top: 1000px; left: 29vw" src="../static/imgs/feat3.jpg">
      </div>
      <div class = "grid-sub">
        <img style= "position:absolute; top: 1000px; left: 52vw" src="../static/imgs/feat4.jpg">
      </div>
      <div class = "grid-sub">
        <img style= "position:absolute; top: 1000px; right:4vw" src="../static/imgs/feat6.jpg">
      </div>
      <div class = "grid-sub">
        <img style= "position:absolute; top: 1450px; left: 4vw" src="../static/imgs/feat2.jpg">
      </div>
      <div class = "grid-sub">
        <img style= "position:absolute; top: 1450px; right:4vw" src="../static/imgs/feat5.jpg">
      </div>
    </div> -->


    <div class="container">
        <div>
            <img src="../static/imgs/feat.jpg" alt="">
        </div>
        <div>
            <img src="../static/imgs/feat3.jpg" alt="">
        </div>
        <div>
            <img src="../static/imgs/feat4.jpg" alt="">
        </div>
        <div>
            <img src="../static/imgs/feat6.jpg" alt="">
        </div>
        <div class="horizontal">
            <img src="../static/imgs/feat2.jpg" alt="">
        </div>
        <div class="horizontal">
            <img src="../static/imgs/feat5.jpg" alt="">
        </div>
    </div>

    <a href="../static/html/art.html" class="button">View Now</a>



  <script>
    var slideIndex = 0;
    showSlides();
  </script>
  </body>

</html>
